<section class="cart py-16">

    <div class="order container mx-auto w-1/2">
        <div class="flex items-center border-b border-gray-300 pb-4">
            <img src="/img/cart-black.png">
            <h1 class="font-bold ml-4 text-2xl">Order Summary</h1>
        </div>
        <div class="pizza-list py-4">
            <div class="flex items-center my-8">
                <img src="/img/pizza.png" class="w-24">
                <div class="flex-1 ml-4">
                    <h1>Marinara</h1>
                    <span>MEDIUM</span>
                </div>
                <span class="flex-1">1 Pcs.</span>
                <span class="font-bold text-lg">&#8377;300</span>
            </div>
            <div class="flex items-center my-8">
                <img src="/img/pizza.png" class="w-24">
                <div class="flex-1 ml-4">
                    <h1>Marinara</h1>
                    <span>MEDIUM</span>
                </div>
                <span class="flex-1">1 Pcs.</span>
                <span class="font-bold text-lg">&#8377;300</span>
            </div>
            <div class="flex items-center my-8">
                <img src="/img/pizza.png" class="w-24">
                <div class="flex-1 ml-4">
                    <h1>Marinara</h1>
                    <span>MEDIUM</span>
                </div>
                <span class="flex-1">1 Pcs.</span>
                <span class="font-bold text-lg">&#8377;300</span>
            </div>
        </div>
        <hr>
        <div class="text-right py-4">
            <div>
                <span class="font-bold text-lg">Total Amount:</span>
                <span class="amount text-2xl font-bold ml-2">&#8377;300</span>
            </div>
            <div>
                <form class="mt-12">
                    <input type="text" class="border border-gray-400 p-2 w-1/2 mb-4" placeholder="Phone Number">
                    <input type="text" class="border border-gray-400 p-2 w-1/2" placeholder="Address">
                    <div class="mt-4">
                        <button class="px-6 py-2 text-white font-bold mt-4 btn-primary rounded-full uppercase" type="submit">Order Now</button>
                    </div>
                </form>
            </div>
            <!-- <a href="" class="inline-block cursor-pointer py-2 font-bold mt-4 rounded-full underline">Login to continue..</a> -->
        </div>
    </div>


    <!-- <div class="empty-cart py-16">
        <div class="container mx-auto text-center">
            <h1 class="text-3xl font-bold mb-2">Cart Empty 😕</h1>
            <p class="text-gray-500  mb-12">You probably haven't ordered a pizza yet.🍕 <br>
                To order a pizza, go to the main page.</p>
            <img src="/img/empty-cart.png" alt="empty cart" class="w-1/5 mx-auto">
            <a href="/" class="inline-block px-6 py-2 rounded-full btn-primary text-white font-bold mt-12">Go Back</a>
        </div>
    </div> -->
</section>